<div class="pre-footer round-rect">
    <form class="footer-form" action="#">
        <p class="footer-form__title">Записаться на приём</p>
        <div class="form-flex">
        <input class="footer-form__input input-width" type="text" placeholder="Ваше имя">
        <input class="footer-form__input input-width" type="text" placeholder="Телефон или email">
        </div>
        <textarea name="" id="" rows="6" placeholder="Комментарий"></textarea>
        <p class="politic-txt">Нажимая на кнопку “Отправить” вы принимаете условия <a href="#">политики конфиденциальности</a></p>
        <button class="default-btn" type="submit">Отправить</button>
    </form>
    <div class="form-map">
        <img src="/img/map-footer.jpg" alt="">
    </div>
</div>