  <footer class="site-footer">
    <div class="container">
      <div class="footer-columns">
        <div class="footer-column">
          <p class="footer-title">О нас</p>
          <ul class="footer-nav-list">
            <li><a class="footer-nav-list__item" href="#">Специалисты</a></li>
            <li><a class="footer-nav-list__item" href="#">Цены</a></li>
            <li><a class="footer-nav-list__item" href="#">Акции</a></li>
            <li><a class="footer-nav-list__item" href="#">Отзывы</a></li>
            <li><a class="footer-nav-list__item" href="#">Статьи</a></li>
            <li><a class="footer-nav-list__item" href="#">Наши работы</a></li>
            <li><a class="footer-nav-list__item" href="#">Контакты</a></li>            
          </ul>
        </div>
        <div class="footer-column">
          <p class="footer-title">Услуги</p>
          <ul class="footer-nav-list">
            <li><a class="footer-nav-list__item" href="#">Исправление прикуса</a></li>
            <li><a class="footer-nav-list__item" href="#">Имплантация зубов</a></li>
            <li><a class="footer-nav-list__item" href="#">Хирургическое лечение</a></li>
            <li><a class="footer-nav-list__item" href="#">ДВНЧС</a></li>
            <li><a class="footer-nav-list__item" href="#">Детская стоматология</a></li>
            <li><a class="footer-nav-list__item" href="#">Остеопатическое лечение</a></li>
            <li><a class="footer-nav-list__item" href="#">Массажи</a></li>            
          </ul>
        </div>
        <div class="footer-column">
          <p class="footer-title">Лицензии</p>
          <div class="footer-list">
            <a href="/img/footer-sert.jpg" data-fancybox="gallery"><img src="/img/footer-sert.jpg" alt=""></a>
            <a href="/img/footer-sert.jpg" data-fancybox="gallery"><img src="/img/footer-sert.jpg" alt=""></a>
            <a href="/img/footer-sert.jpg" data-fancybox="gallery"><img src="/img/footer-sert.jpg" alt=""></a>
            <a href="/img/footer-sert.jpg" data-fancybox="gallery"><img src="/img/footer-sert.jpg" alt=""></a>
            <a href="/img/footer-sert.jpg" data-fancybox="gallery"><img src="/img/footer-sert.jpg" alt=""></a>
            <a href="/img/footer-sert.jpg" data-fancybox="gallery"><img src="/img/footer-sert.jpg" alt=""></a>
          </div>
        </div>
        <div class="footer-column footer-column_contacts">
          <p class="footer-title">Контакты</p>
          <p class="footer-column_contacts__text">Санкт-Петербург, Ул. Оптиков, 51/1</p>
          <p class="footer-column_contacts__text">Время работы: ежедневно с 10:00 до 21:00</p>
          <p class="footer-column_contacts__text">
            <span class="footer-phones">Телефоны:</span>
            <span class="footer-phones">
              <a href="tel:+78126170505">+7 (812) 617-05-05</a>
              <a href="+78129388712">+7 (812) 938-87-12</a>
            </span>
          </p>

          <a class="default-btn" data-fancybox data-src="#modal-invite" href="javascript:;">Записаться на прием</a>          
          <a class="white-btn" data-fancybox data-src="#modal-callback" href="javascript:;">Заказать обратный звонок</a>
        </div>
      </div>

      <div class="footer-socials">
        <p>Присоединяйтесь:</p>
          <div class="social-links">
            <a class="social-links__item social-links__item_vk" href="#" target="_blank"></a>
            <a class="social-links__item social-links__item_fb" href="#" target="_blank"></a>
            <a class="social-links__item social-links__item_tw" href="#" target="_blank"></a>
            <a class="social-links__item social-links__item_g" href="#" target="_blank"></a>
          </div>       
      </div>

      <div class="footer-socials">
          <p>Мы принимаем:</p>
            <div class="pay-img"></div>       
        </div>

    </div>
  </footer>


  <div class="modal" id="modal-invite">
    <p class="modal__title">Записаться на прием</p>
    <form class="modal__form" action="#">
      <input class="modal__form-input" type="text" placeholder="Имя">
      <input class="modal__form-input" type="text" placeholder="Телефон">
      <input class="modal__form-input" type="text" placeholder="E-mail">
      <label class="modal__form-politic" for="politic-check">
        <input type="checkbox" id="politic-check" checked>
        <p>Я даю своё согласие на обработку персональных данных, с <a href="#">условиями обработки</a> персональных данных ознакомлен</p>
      </label>      
      <button class="default-btn" type="submit">Отправить</button>
      </form>
  </div>

  <div class="modal" id="modal-callback">
    <h2>Заказать обратный звонок</h2>
    <p>You are awesome.</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
  <script src="/libs/libs.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>