<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">  
<title>Asgard Стоматология</title>  
</head>
<body>
<header class="site-header">
<div class="top-header">
    <div class="container">
    <div class="top-header__contacts">
        <p class="top-header__contacts-item"><img src="/img/adress-ico.svg" alt="">Санкт-Петербург, Ул. Оптиков, 51/1</p>
        <a class="top-header__contacts-item" href="mailto:asgardmed@inbox.ru"><img src="/img/mail-ico.svg" alt="">asgardmed@inbox.ru</a>
        <p class="top-header__contacts-item"><img src="/img/calendar-ico.svg" alt="">Ежедневно с 10:00 до 21:00</p>
    </div>
    <div class="social-links">
        <a class="social-links__item social-links__item_vk" href="#" target="_blank"></a>
        <a class="social-links__item social-links__item_fb" href="#" target="_blank"></a>
        <a class="social-links__item social-links__item_tw" href="#" target="_blank"></a>
        <a class="social-links__item social-links__item_g" href="#" target="_blank"></a>
    </div>
    </div>
</div>
<div class="bottom-header">
    <div class="container">
    <a href="/" class="logo-header"><img src="/img/logo.png" alt=""></a>
    <div class="bottom-headers__right">
        <div class="bottom-headers__phones">
        <a class="header-phone" href="tel:+78126170505">+7 (812) 617-05-05</a>
        <a class="header-phone" href="tel:+78129388712">+7 (812) 938-87-12</a>
        </div>
        <a class="default-btn" data-fancybox data-src="#modal-invite" href="javascript:;">Записаться на приём</a>
    </div>
    
    </div>
</div>
<nav class="main-menu">
    <div class="container">
    <ul class="main-menu__list">
        <li><a class="main-menu__item main-menu__item_sub" href="about.html">О центре</a></li>
        <li><a class="main-menu__item main-menu__item_sub" href="service.html">Услуги</a>
            <ul class="main-menu__sub">
                <li><a href="">Стоматология</a></li>
                <li><a href="">Остеопатия неврология</a></li>
                <li><a href="">Центр лечения дисфункции</a></li>
                <li><a href="">Общее оздоровление</a></li>
                <li><a href="">Психология и парапсихология</a></li>
            </ul>
        </li>
        <li><a class="main-menu__item" href="doctors.html">Специалисты</a></li>
        <li><a class="main-menu__item" href="price.html">Цены</a></li>
        <li><a class="main-menu__item" href="akcii.html">Акции</a></li>
        <li><a class="main-menu__item" href="">Отзывы</a></li>
        <li><a class="main-menu__item" href="">Контакты</a></li>
    </ul>
    </div>
</nav>
</header>