.dop-info {
    max-width: 65%;
    padding: 15px 21px;
    background-color: rgba(47, 190, 173, 0.05);
    border-bottom: 6px solid #2FBEAD;
    line-height: 23px;

    p {
        margin: 0;
    }
}