.tooth-ul {
    ul {
        margin: 0;
        padding-left: 20px;
        list-style-image: url('/img/tooth-ico.svg');

        li {            
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.tooth-ul_weight {
    ul {
        font-weight: 500;

        a {
            color: #333333;
            text-decoration: none;
        }
    }
}

    


.doctor-txt {
    line-height: 23px;    

    &:last-child {
      margin-bottom: 0;
    }
    
    p {
        margin: 7px 0;
    }
}

.detail-doctor__img {
    img {
        width: 100%;
    }
}

.doctor-prof {
    margin: 0 0 8px 0;
    font-size: 22px;
    font-weight: 500;
    color: #828282;
}

.doctor-since {
    margin: 0 0 24px 0;
    font-size: 18px;
    font-weight: 500;
    color: #BDBDBD;
}

.doctor-specialisation {
    ul {
        margin-bottom: 20px;
    }    
}

.doctor-about {  
    .blocquote-txt {   
        span { 
            &::after {
            bottom: -30px;
            right: -40px;
            transform: rotate(180deg) scale(0.5);
            }
            &::before {
            top: -30px;
            left: -35px;
            transform: scale(0.5);
            }
        }
    }  
}
