.top-header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  &__contacts {
    height: 38px;
    display: flex;
    align-items: center;    
  }

  &__contacts-item { 
    margin: 0 32px 0 0;
    font-size: 15px;
    color: #333333;
    text-decoration: none;

    img {
      margin-right: 10px;
      vertical-align: text-bottom;
    }

    @media (max-width: 1023px) {
      margin: 0 5px 0 0;
      font-size: 13px;
      line-height: 15px;
    }
  }
}

.bottom-header {
  padding: 21px 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;        
  }
  
  &__phones {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 36px;
    background-image: url('/img/phone-ico.svg');
    background-repeat: no-repeat;
    background-position: 0px 12px;    
  }

  &__right {
    display: flex;   
    font-size: 20px; 

    @media (max-width: 1023px) {
      font-size: 16px;
    }
  }  
}

.header-phone {
  margin-bottom: 8px;
  font-size: 18px;
  color: #333333;
  text-decoration: none;

  @media (max-width: 1023px) {
    font-size: 16px;
  }
}

.logo-header {

  img {
    width: 100%;  }

  @media (max-width: 1023px) {
    width: 190px;
  }
}

.main-menu { 
  border-bottom: 1px solid #E0E0E0;

  &__sub {
    position: absolute;
    left: -20px;
    display: none;
    min-width: 345px;
    padding: 24px 0;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    list-style: none;
    z-index: 2;   
  
    li {
      margin-bottom: 14px;

      &:hover {
        color: #2FBEAD;
        background-color: rgba(47, 190, 173, 0.1);
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: block;
        padding: 10px 24px;
        font-size: 20px;
        color: #333333;
        text-decoration: none;

        @media (max-width: 1023px) {
          padding: 5px 24px;
          font-size: 16px;
        }
      }
    }
  }

  &__item {
    display: block;
    position: relative;
    padding: 15px 0;
    color: #333333;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      background: linear-gradient(84deg, #2FBEAD -30%, #2D9CDB 155%);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &.main-menu__item_sub::after{
        background-image: url('/img/arrow_down_hover.svg');
      }
    }

    @media (max-width: 1023px) {
      font-size: 16px;
    }
  }

  &__item_sub {
    padding-right: 20px;
  
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 7px;
      right: -5px;
      top: 25px;
      background-image: url('/img/arrow_down.svg');

      @media (max-width: 1023px) {
        top: 20px;
      }
    }
  } 

  &__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      position: relative;
    }  

    li:hover > .main-menu__sub {
      display: block;
    }   
  }  
}

